<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713573407358-jsijm7tpvtjrp3h8nk5nfoe6ns31h538.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713573407358-jsijm7tpvtjrp3h8nk5nfoe6ns31h538</string>
	<key>API_KEY</key>
	<string>AIzaSyA210Wz22zbYKXpYAmRjYoQHygLVyd2TH0</string>
	<key>GCM_SENDER_ID</key>
	<string>713573407358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asmaaalshareef.FamilyGrocery</string>
	<key>PROJECT_ID</key>
	<string>family-grocery-b393b</string>
	<key>STORAGE_BUCKET</key>
	<string>family-grocery-b393b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713573407358:ios:ff7f21b85e2ab0de04562f</string>
</dict>
</plist>